<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <p>You received a message from the sites's contact form,from <%= "#{ @name }, #{@rmail} ."%> </p>
    <p><%= @body %></p>
    </body>
    </html>